<h2>Power Show Page</h2>
<hr>
<h3><%= "This the #{@power.name.capitalize}'s Page"%>
<br>  
<ul>
   <li>
     <h4>Power:  <%= @power.name.capitalize %></h4>
   </li>
   <li>
     <h4>Description:  <%= @power.description %></h4>
   </li>
