<h2>All Heroines</h2>

<div>
    <%= link_to 'New heroine', new_heroine_path %>
</div>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>
