<h2>Name: <%= @heroine.name %> </h2>
<h2>Super Name: <%= @heroine.super_name %> </h2>

<p>Powers: <%= @heroine.powers.name %></p>

<%= button_to "Return to Heroine Index", heroines_path, method: :get %>