<h2>Heroine Show Page</h2>
<hr>
<h3><%= "This the #{@heroine.super_name}'s Page"%>
<br>  
<ul>
   <li>
     <h4>Name:  <%= @heroine.name %></h4>
   </li>
   <li>
     <h4>SuperName:  <%= @heroine.super_name %></h4>
   </li>
